@import "../../utilities/variables";

.main_container {
  background-color: $light_blue;
  padding: 40px 0;

  .list_container {
    margin: 0 auto;
    width: 1200px;

    .images_list {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-auto-rows: 500px 500px;
      column-gap: 20px;
      row-gap: 15px;
    }
  }
}
